body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Metamorphous', cursive;
    background-color: white;
    width: 400px;
    font-size: 32px;
    padding: 5px;
    margin: 20px;
}

h2{
    background-color: white;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
}

.your-character {
    width: 170px;
}

.attackable-enemies {
    width: 300px;
}

.fight-section {
    width: 140px;
}

button {
    padding: 20px;
    margin: 30px;
    font-family: 'Metamorphous', cursive;
    font-size: 40px;
    border: 4px solid black;
}

.defender {
    width: 100px;
}

.characters {
    height: 200px;
    width: 200px;
    float: left;
    background-color: white;
}

#selected {
    height: 200px;
    width: 200px;
    text-align: center;
}

#enemy1 {
    height: 200px;
    width: 200px;
    text-align: center;
    float: left;
}

#enemy2 {
    height: 200px;
    width: 200px;
    text-align: center;
    float: left;
}

#enemy3 {
    height: 200px;
    width: 200px;
    text-align: center;
    float: left;
}

.text {
    text-align: center;
    width: 200px;
}

.character {
    float: left;
}

.first-row {
    float: none;
}

#result {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
}